.elements__icon {
  width: 22px;
  height: 19px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 30px;
  background-image: url("../../../images/icons/like-icon.svg");
}

.elements__icon:hover {
  opacity: 0.5;
}

.elements__icon:active {
  background-image: url("../../../images/icons/like-icon_black.svg");
  opacity: 1;
}
