.profile__button-edit {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 18px;
  align-self: center;
  border: 1px solid white;
  background: no-repeat center url("../../../images/icons/btn-edit.svg");
  box-sizing: border-box;
}

.profile__button-edit:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 920px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background: no-repeat center url("../../../images/icons/btn-edit_s.svg");
  }
}
