.edit-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 18px;
  margin-bottom: 16px;
  align-self: center;
  border: 1px solid white;
  background: no-repeat center url("../../images/edit-logo.svg");
}

.edit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 920px) {
  .edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 400px) {
  .edit-button {
    margin-bottom: 14px;
  }
}
