.profile__edit {
  margin: 0 0 9px 0;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 18px;
}

@media screen and (max-width: 920px) {
  .profile__edit {
    column-gap: 10px;
  }
}

@media screen and (max-width: 620px) {
  .profile__edit {
    margin: 26px 0 8px 28px;
  }
}
