.elements__btn-like {
  border: none;
  background-image: url("../../../images/icons/like-icon.svg");
  background-color: transparent;
  width: 22px;
  height: 19px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 30px;
  transition: 0.3s;
}

.elements__btn-like:hover {
  opacity: 0.5;
}
