.add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  border: 1px solid white;
  background: no-repeat center url("../../images/add-icon.svg");
}

.add-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 920px) {
  .add-button {
    width: 50px;
  }
}

@media screen and (max-width: 620px) {
  .add-button {
    width: 282px;
    margin: 36px auto 0;
  }
}
