.popup__edit {
  height: 23px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  color: #000;
  margin: 34px 0 54px 36px;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .popup__edit {
    width: 238px;
    font-size: 18px;
    margin: 25px auto 75px;
  }
}
