.popup__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: url(../../../images/icons/close-icon.svg);
  background-size: cover;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
