.profile__button-add {
  width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  border: 2px solid white;
  background: no-repeat center url("../../../images/icons/btn-add.svg");
  transition: 0.4s;
}

.profile__button-add:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 920px) {
  .profile__button-add {
    width: 100px;
  }
}

@media screen and (max-width: 620px) {
  .profile__button-add {
    width: 282px;
    margin: 32px auto 0;
    background-size: 16px;
  }
}
